/* 커서 */
#cursor {
  position: absolute;
  z-index: 9999999999999999;
  transform: translate(10%, 10%);
  background-image: url(./img/img/2x/자산\ 14@2x.png);
  background-size: contain;
  width: 45px;
  height: 45px;
  pointer-events: none;
}
