// 모두 동일한 프리티어 적용을 위한 파일
// 만약 프리티어 설정이 다르다면 충돌이 일어남
// 해당 프로젝트의 프리티어 설정은 아래와 동일하도록 제한하는 것
{
  "singleQuote": true, // 작은 따옴표 사용
  "printWidth": 80, // 한 줄의 글자 80자 설정(기본값)
  "semi": true, // 자동 ;(세미콜론)
  "tabWidth": 2 // 탭 너비 공백 2칸 (안할 경우 충돌이 자주 일어남)
}
