<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="../core/main.css" />
    <script
      src="https://kit.fontawesome.com/35c503f1b7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <!-- footer -->
  <footer>
    <div class="footer-container">
        <a class="no-decoration text-pink" href="https://www.facebook.com/" target="_blank">Facebook</a>
        <a class="no-decoration text-pink ml-20" href="https://www.instagram.com/" target="_blank">Instagram</a>
        <a class="no-decoration text-pink ml-20" href="https://www.gmail.com/" target="_blank">Gmail</a>
        <hr aria-hidden="true" class="sb-rule mt-4" />
        <!-- <br /> -->
        <div class="mt-5">
            <a class="no-decoration underline-hover" href="../dashboard/notices.html">공지사항</a>
            <a class="no-decoration ml-20 underline-hover" href="../dashboard/questions.html">자주 묻는 질문</a>
            <a class="no-decoration ml-20 underline-hover" href="../dashboard/service_center.html">고객센터</a>
            <a class="no-decoration underline-hover" href="../term/term.html">서비스 이용약관</a>
            <a class="no-decoration ml-20 underline-hover" href="../term/privacy.html">개인정보처리발침</a>
        </div>
        <div class="mt-5 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
            <p class="text-xs leading-5 text-pink">&copy; 2024 Cafero, Inc. All rights reserved.</p>
        </div>
    </div>
</footer>
</html>
