<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="index.css" />
        <link rel="stylesheet" href="../../css/main.css" />
        <script src="https://kit.fontawesome.com/35c503f1b7.js" crossorigin="anonymous"></script>
    </head>
    <!-- Page footer section -->
    <footer class="shadow">
        <div class="footer-container">
            <div class="row">
                <!-- Logo col -->
                <div class="col-2">
                    
                    <a class="navbar-brand d-flex align-items-center" href="../layout/layout.html">
                     <img
                    src="../img/logo_cafe.png"
                    width="50"
                    height="50"
                    alt="Logo"
                    class="d-inline-block align-text-top circular-image"
                /></a>

                </div>
                <!-- Notice , FAQ, Service center cols -->
                <div class="col-3 align-items-center ">
                    <div class="row p-2 text-start">
                            <a class="no-decoration underline-hover" href="../dashboard/notices.html">공지사항</a>
                    </div>
                    <div class="row p-2 text-start">
                            <a class="no-decoration underline-hover" href="../dashboard/questions.html">자주 묻는 질문</a>
                    </div>
                    <div class="row p-2 text-start">
                            <a class="no-decoration underline-hover" href="../dashboard/service_center.html">고객센터</a>
                    </div>
                </div>
                <!-- Service center, privacy cols-->
                <div class="col-3">
                    <div class="row p-2 text-start">
                            <a class="no-decoration underline-hover" href="../term/term.html">서비스 이용약관</a>
                    </div>
                    <div class="row p-2 text-start">
                            <a class="no-decoration underline-hover" href="../term/privacy.html">개인정보처리발침</a>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col" >
                            <div style="height: 32; width: 32;">
                                <a href="https://www.facebook.com/" target="_blank" class="axo bkw"><img src="../img/logo_facebook.svg"/></a>
                            </div>                        
                        </div>
                        <div class="col">
                            <div style="height: 32; width: 32;">                            
                                <a href="https://www.instagram.com/" target="_blank" class="axo bkw"><img src="../img/logo_insta.svg"/></a>
                            </div>
                        </div>
                        <div class="col">
                            <div style="height: 32; width: 32;">                            
                                <a href="https://www.google.com/" target="_blank" class="axo bkw"><img src="../img/logo_gmail.svg"/></a>
                            </div>
                        </div>
                        <div class="col">
                            <div style="height: 32; width: 32;">                            
                                <a href="https://www.naver.com/" target="_blank" class="axo bkw"><img src="../img/logo_naver.svg"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr aria-hidden="true" class="sb-rule mt-4" />
            <div class="border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
                <p class="text-xs leading-5 text-white">&copy; 2024 Cafero, Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>
</html>
