<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="index.css" />
        <link rel="stylesheet" href="../../css/main.css" />
        <script src="https://kit.fontawesome.com/35c503f1b7.js" crossorigin="anonymous"></script>
    </head>
    <!-- Page header section -->
    <header class="navbar navbar-expand-lg nav-header sticky-top color-yellow shadow-sm">
        <nav class="d-flex w-100 justify-content-between ps-5" role="navigation">
            <div class="navbar-left">
                <a class="navbar-brand d-flex align-items-center" href="../layout/layout.html">
                    <img
                    src="../img/logo_cafe.png"
                    width="50"
                    height="50"
                    alt="Logo"
                    class="d-inline-block align-text-top circular-image"
                />
                  </div>
            <div class="navbar-right d-flex justify-content-between">
                <div class="menu-btn">
                    <a class="text-white fs-4" href="../login/login.html">로그인</a>
                </div>
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <a href="#"><li>지도에서 카페 찾기</li></a>
                        <a href="#"><li>인터뷰</li></a>
                        <a href="#"><li>카페 등록 요청</li></a>
                        <a href="#"><li>문의 사항 qna</li></a>
                        <a href="#"><li>마이페이지</li></a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</html>
