/* @import url(); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{background:linear-gradient(90deg,#f07579 0%,#f07579 30%, #f3c58f 30%, #f3c58f 100%);

}
.contactUs{
  position: relative;
  width: 100%;
  padding: 40px 100px;
}
.contactUs .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactUs .title h2{
  color: #fff;
  font-weight: 500;
}
.form{
  grid-area: form;
}

.info{
  grid-area: info;
}

.map{
  grid-area: map;
}
.contact{
  padding: 40px;
  background-color: #fff;
  border-radius: 30px;
}
.box{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
  "form info" 
  "form map" ;
  grid-gap: 40px;
}

.contact h3{
  color: #0e3959; 
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}